<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title><%= holidayItem.name %></title>
</head>
<body>
    <h1><%= holidayItem.name %> Details</h1>

    <ul>
        <li><b>Name:</b> <%= holidayItem.name %></li>
        <li><b>Season:</b> <%= holidayItem.season %></li>
        <li><b>Feeling:</b> <%= holidayItem.feeling %></li>
        <li><b>Colors: </b><%= holidayItem.colors %></li>
    </ul>

    <p><a href="/">Home</a></p>
</body>
</html>